<%= link_to "Chatroom", root_path, class: "item" %>
<a class="item">
  Messages
</a>

<div class="right menu">
  
  <% if !logged_in? %>
    <div class="item">
      <%= link_to "Log in", login_path, class: "ui primary button" %>
    </div>
  <% else %>
    <div class="item">
      <%= link_to "Logout",  logout_path, method: :delete, class: "ui primary button" %>
    </div>

  <% end %>
</div>